body {
  color: rgb(4, 163, 255);
}
h1 {
  font-size: 48px;
}
ul {
  list-style: none;
  margin: 0;
  display: inline;
  padding: 0;
}
p {
  margin: 0;
}
.container {
  max-width: 600px;
}
.card {
  padding: 25px;
  border: 1px solid black;
}
.btn-success {
  background-color: rgb(100, 149, 237);
}
.btn:hover {
  transition: all 200ms ease;
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.col-2 {
  color: black;
  text-align: center;
  width: 19.67%;
}
.current-date {
  color: black;
  margin: 5px 0;
}
.city-temperature {
  font-size: 40px;
  padding: 0%;
}
.units {
  position: relative;
  top: -16px;
}
.units .active {
  color: rgb(4, 163, 255);
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
#weather-description {
  text-transform: capitalize;
}
.icon {
  text-align: center;
}
.contact-me {
  color: black;
  font-size: 12px;
  text-align: center;
}
