body {
  color: #475053;
  margin: 30px;
}
h1 {
  font-size: 48px;
}
ul {
  list-style: none;
  margin: 0;
  display: inline;
  padding: 0;
}
p {
  margin: 0;
}
.container {
  max-width: 600px;
}
.card {
  background-color: #f0fbff;
  padding: 25px;
  border: 1px solid black;
}
.btn-primary {
  background-color: #2e94b9 !important;
}
.btn-outline-primary {
  opacity: 0.8;
}
.btn:hover {
  transition: all 200ms ease;
  background-color: #2e94b9;
  border-color: #2e94b9;
}
.col-2 {
  color: #475053;
  text-align: center;
  width: 19.67%;
}
.current-date {
  color: #475053;
  margin: 5px 0;
}
.city-temperature {
  font-size: 48px;
  padding: 0%;
  position: relative;
  top: -8px;
}
.units {
  position: relative;
  top: -30px;
}
#weather-description {
  text-transform: capitalize;
}
.weather-forecast-temperature-min {
  opacity: 0.8;
}
.icon {
  text-align: center;
}
.contact-me {
  color: black;
  font-size: 12px;
  text-align: center;
}
